h1 = t('.add_new_repository')

= simple_form_for @repository, url: repositories_path do |f|
  = f.input :full_name, collection: @client_repos.map(&:full_name)
  = f.button :submit, class: 'btn-primary'
