h1 = t('.add_new_repository')

= simple_form_for @repository, url: repositories_path do |f|
  = f.input :github_id, collection: @client_repos.map { |r| [r[:full_name], r[:id]] }
  = f.button :submit, class: 'btn-primary'
